@use "../abstract/" as *;

.aboutBanner {
    padding: 4rem 0;    
    
    &__top {
        @include between;
        margin-bottom: 1rem;

        // Mobile: Stack text and center
        @include mediaQuery(768px) {
            flex-direction: column;
            text-align: center;
            gap: 2rem;
        }

        h1 {
            line-height: 5rem;
            margin-top: 2rem;
            max-width: 48rem;
            
            @include mediaQuery(768px) {
                line-height: 1.2;
            }
        }
        &--right {
            max-width: 40rem;
        }
    }

    &__bottom {
        display: grid;
        grid-template-areas:
        "a c"
        "b c";
        gap: 1rem;

        // Mobile: Stack grid areas vertically
        @include mediaQuery(768px) {
            grid-template-areas:
            "a"
            "b"
            "c";
        }

        &--a {
            grid-area: a;
            // Changed 500px width to 100% to prevent mobile overflow
            @include imgFit(100%, 500px); 
            
            @include mediaQuery(768px) {
                height: 350px; // Scale height down on mobile
            }
        }

        &--b {
            grid-area: b;
            @include mediaQuery(768px) {
                text-align: center;
            }

            h3 {
                margin-bottom: 2rem;
            }
            p {
                max-width: 40rem;
                @include mediaQuery(768px) {
                    margin: 0 auto; // Center text block on mobile
                }
            }
        }

        &--c {
            grid-area: c;
            @include imgFit (100%, 700px);

            @include mediaQuery(768px) {
                height: 400px;
            }
        }
    }
}

.aboutValues {
    padding: 4rem 0;
    color: $clr--light;

    &__cards {
        @include gridFixed(2, 1rem);
        
        // Mobile: Single column
        @include mediaQuery(768px) {
            grid-template-columns: 1fr;
        }

        .cardIcon {
            background-color: $clr--light;
            color: $clr--dark;
            @include centerAll;
            gap: 3rem;

            @include mediaQuery(520px) {
                flex-direction: column;
                padding: 2rem;
            }

            &__details {
                text-align: left;
                
                @include mediaQuery(520px) {
                    text-align: center;
                }
            }
        }
    }
}

.aboutLocation {
    padding: 4rem 0;
    &__wrapper {
       text-align: center;
    }
    &__map {
        @include centerAll;
        
        // Ensure iframe maps don't break the container
        iframe {
            max-width: 100%;
        }
    }
}