@use "../abstract/" as *;
@use "../base/" as *;

.contactBanner {
    padding: 4rem 0;
    position: relative;

    &__title {
        max-width: 50rem;
        margin-bottom: 2rem;
    }

    &__wrapper {
        @include gridCustom(1.5fr 1fr, 5rem);
        
        // Mobile: Stack form and right panel
        @include mediaQuery(768px) {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }

    &__left {
        form {
            display: flex;
            flex-direction: column;

            input {
                margin: 0.5rem 0 2rem;
                width: 100%;
                padding: 1rem;
                background-color: $clr--dark; 
            }
            textarea {
                @extend input;
                height: 10rem;
            }
            input::placeholder {
                font-family: $font-primary;
                color: $clr--light;
            }
            input:focus,
            input:enabled {
                color: $clr--light;
            }
        }

        &--name {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            // Mobile: Stack First Name / Last Name inputs
            @include mediaQuery(520px) {
                flex-direction: column;
                gap: 0;
            }
        }
    }

    &__right {
        padding: 4rem;
        background-color: $clr--light;
        border: 1px solid $clr--dark;
        height: fit-content;
        width: fit-content;

        @include mediaQuery(768px) {
            width: 100%; // Fill container on mobile
            padding: 2rem;
        }

        &::after {
            position: absolute;
            display: inline-block;
            content: " ";
            background-color: $clr--dark;
            width: 35rem;
            height: 90vh;
            right: 1rem;
            bottom: 1rem;
            z-index: -9;

            // Mobile: Hide the decorative box so it doesn't cause horizontal scrolling
            @include mediaQuery(992px) {
                display: none; 
            }
        }
    }
}

.contactFaq {
    padding: 4rem 0;

    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 5rem;

        // Mobile: Stack FAQ title and accordion
        @include mediaQuery(768px) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__left {
        max-width: 30rem;
        
        @include mediaQuery(768px) {
            max-width: 100%;
            text-align: center;
        }

        h2 {
            margin-bottom: 2rem;
        }
    }

    &__item {
        border-bottom: 1px solid $clr--gray;
        padding: 1.5rem 0;

        &--question {
            @include between;
            cursor: pointer;
            i {
                transition: 0.5s ease;
            }
        }

        &--answer {
            max-height: 0;
            overflow: hidden;
            transition: 0.5s ease;
            margin-top: 1rem;
        }

        // Active State logic
        &.active {
            i {
                transform: rotate(180deg);
            }
            .contactFaq__item--answer {
                max-height: 1000px; // Ensure this is taller than your longest answer
                opacity: 1;
            }
        }
    }
}